.hero{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	position: relative;
	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(center);
	// background: url(../images/echo.jpg) no-repeat center center;
	// background-size: 70%;
	color: black;
	.hero-image-container{
		width: 40%;
		height: auto;
		margin-bottom: 20px;
		img{
			max-width: 100%;
			height: auto;
		}
	}
	h1{
		@include uppercase();
		background: white;
		padding: 5px;
		pointer-events: none;
		@include user-select(none);
	}
	ul{
		display: block;
		margin-top: 50px;
		li{
			display: inline-block;
			background: white;
			line-height: 0;
			padding: 0 10px;
			margin: 0 20px;
		}
	}
}