.hotel{
	position: relative;
	width: 100%;
	margin: 0;
	top: 0;
	left: 0;
	height: 100%;
	.hotel-container{

		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include display(flex);
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(center);
		.col{
			.text{
				margin-top: 50px;
			}
			p{
				max-width: 80%;
				position: relative;
				width: 80%;
				margin: 25px 10%;
				text-align: left;
			}
			img{
				max-width: 80%;
				margin: 50px 10%;
				height: auto;
				width: 80%;
			}

		}
		.left-col{
			position: absolute;
			left: 0;
			top: 0;
			width: 50%;
			height: auto;
		}
		.right-col{
			position: absolute;
			background: $gray;
			right: 0;
			top: 0;
			width: 50%;
			height: auto;
			padding-top: 50px;
		}
	}
}