<section class="restaurant" spacer>
	<section class="restaurant-container">
		<div class="col left-col media" id="restaurant-images">
			<img src="images/fake1.jpg" />
			<img src="images/fake1.jpg" />
			<img src="images/fake1.jpg" />
			<img src="images/fake1.jpg" />
			<img src="images/fake1.jpg" />
			<img src="images/fake1.jpg" />
		</div>

		<div class="col right-col text" id="restaurant-text">
			<h1>The Hotel</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis viverra dui urna, et hendrerit nisl malesuada a. Vivamus nec odio sit amet magna finibus maximus aliquam non mauris. Duis id justo ipsum. Suspendisse iaculis elit ac feugiat sollicitudin. Mauris et est ipsum. Nulla congue sapien sit amet augue rhoncus, eu consectetur metus gravida. Nunc mattis at lectus eu gravida. Donec porttitor massa nec sollicitudin imperdiet. Maecenas a turpis nunc. In consequat massa eget porta pulvinar. Donec eget risus gravida, molestie dolor vel, fermentum risus. Curabitur eu iaculis leo. Donec dignissim porta auctor. Integer ultricies dignissim porta. Vivamus et eros at libero aliquam vulputate.</p>
		</div>

	</section>
</section>